Language: Cpp

BasedOnStyle: Google

IndentWidth: 2

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "<[[:alnum:]._]+>"
    Priority: 1
  - Regex: "<[[:alnum:]./_]+>"
    Priority: 2
  - Regex: '"[[:alnum:]._]+"'
    Priority: 3
  - Regex: '"[[:alnum:]./_]+"'
    Priority: 4

AlignConsecutiveBitFields: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive

AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AlwaysBreakBeforeMultilineStrings: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
InsertBraces: true
SpaceInEmptyBlock: true

InsertTrailingCommas: Wrapped

AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Empty

AlignEscapedNewlines: Right
AlignArrayOfStructures: Left
