# Ignore build files

build/
isodir/boot/helium.kernel

# Ignore VMs files

run/bochslog.txt
run/helium.iso
run/bx_enh_dbg.ini
run/com1.out
run/copy.txt
run/mem.out

# Ignore IDEs files
.vscode/
*.kdev4
